/*
 * Font: SF Pro Display
 */

@font-face {
    font-family: 'SF Pro Display Regular';
    font-style: normal;
    font-weight: normal;
    src: url('SF Text/SF-Pro-Display-Regular.otf') format('opentype');
}

@font-face {
    font-family: 'SF Pro Display Bold';
    font-style: normal;
    font-weight: normal;
    src: url('SF Text/SF-Pro-Display-Bold.otf') format('opentype');
}

@font-face {
    font-family: 'SF Pro Display Heavy';
    font-style: normal;
    font-weight: normal;
    src: url('SF Text/SF-Pro-Display-Heavy.otf') format('opentype');
}

@font-face {
    font-family: 'SF Pro Display Light';
    font-style: normal;
    font-weight: normal;
    src: url('SF Text/SF-Pro-Display-Light.otf') format('opentype');
}

@font-face {
    font-family: 'SF Pro Display Medium';
    font-style: normal;
    font-weight: normal;
    src: url('SF Text/SF-Pro-Display-Medium.otf') format('opentype');
}

@font-face {
    font-family: 'SF Pro Display Semibold';
    font-style: normal;
    font-weight: normal;
    src: url('SF Text/SF-Pro-Display-Semibold.otf') format('opentype');
}

@font-face {
    font-family: 'SF Pro Display Thin';
    font-style: normal;
    font-weight: normal;
    src: url('SF Text/SF-Pro-Display-Thin.otf') format('opentype');
}

@font-face {
    font-family: 'SF Pro Display Ultra Light';
    font-style: normal;
    font-weight: normal;
    src: url('SF Text/SF-Pro-Display-UltraLight.otf') format('opentype');
}

@font-face {
    font-family: 'Appetite Bold';
    font-style: normal;
    font-weight: normal;
    src: url('AppetitePro Bold.otf') format('opentype');
}

@font-face {
    font-family: 'Appetite Italic';
    font-style: normal;
    font-weight: normal;
    src: url('Appetite Italic.ttf') format('opentype');
}

@font-face {
    font-family: 'Helvetica Bold';
    font-style: normal;
    font-weight: normal;
    src: url('Helvetica Bold.otf') format('opentype');
}

@font-face {
    font-family: 'Helvetica Italic';
    font-style: normal;
    font-weight: normal;
    src: url('Helvetica Italic.ttf') format('opentype');
}



